body{
	background-color:whitesmoke;
	border: solid #000066;
}

#pesa{
	font-weight:bolder;
	color: red;
	border: solid red;
	text-align: center;
	margin:0px;
	background-color: dimgrey;

}
#picsize{
	width: 60%;
	height:182px;
	border-radius:40%;
	border: 5px solid maroon;
	padding: 5px;
	text-align: left;
	background-color:#000066;


}
#aligns{
	border: solid maroon;
	padding-top: 50px;
	clear: both;
	text-align: center;
	color: orangered;
	font-size:x-large;
	padding: 15px 21px 15px 21px;
	background-color: #000066;
}
#text{
	background-color: dimgrey;
	text-align: center;

}
.position{
	text-align: left;
	color: #CC0099;
	font-weight: bold ;
	font-family: monospace;
	font-style: oblique;



font-size: 20px;

font-family: "Times New Roman", Times, serif;

}
.container{
	
	
	
}
.row{
	
	width:100%;
}
.column {
  float: left;
  width: 33%;
  padding: 1px;
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .column{
    width: 100%;
  }
}
