*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html{
	background-color: #bdb76b; 
}
h1{
	background-color: #808000;
}
body{
	
	/*background-color: gray;*/


}
h1{
	margin-bottom: 10px;
	text-align:center;
	
}
#box1{
	background-color: #e6e6fa;
	padding:1px;
	border: 1px solid black;
	height: auto;
	width:33%;
	float: right;
	overflow: auto;
	margin-right: 10px  solid black;
	margin-top: 30px;
	margin-left: 2px;

	
}
#box2{
	background-color: #e6e6fa;
	padding: 1px;
	border: 2px solid black;
	height: auto;
	width: 33.33%;
	overflow: auto;
	float: right;
	margin-right: 1px;
	margin-top: 30px;
	margin-left: 1px;

}
#box3{
	background-color: #e6e6fa;
	padding: 1px;
	border: 2px solid black;
	height: auto;
	width: 33%;
	overflow: auto;
	
	margin-right: 1px;
	margin-top: 30px;
	float: right;

	
}
.behave{
	margin-top: 0px;
	background-color: #dda0dd;
	clear: both;
	padding: 0;
	font-size: 1em;
	background-color: #e6e6fa;
}
#content{
	background-color: #dda0dd;
}
#align1{text-align: right;
	background-color: maroon;
	width: 100px;
	height: 25px;
	
	
	margin-bottom: 5px;
	color: black;
	float: right;
	clear: left;
	margin-left:190px;
	text-align: center;
	position: relative;
	width: 50px;
	text-align: right;
	border: 1px solid black;
	font-size: 1.5em;

	
}
#align2{text-align: right;
	background-color: pink;
	width: 100px;
	height: 50px
	
	margin-bottom: 5px;
	color: black;
	
	text-align: center;
	float: right;
	
	margin-left: 180px;
	position: relative;
	width: 60px;
	text-align: right;
	border: 1px solid black;
	font-size: 1.1em;


	

}
#align3{
	text-align: right;
	background-color: gold;
	width: 50px;
	height: 25px;
	
	
	margin-bottom: 0px;
	color: black;

	float: right;
	clear: both;
	margin-left:190px;
	
	position: relative;
	width: 60px;
	text-align: right;
	border: 1px solid black;
	text-align: center;
	font-size: 1.5em;

	
	

}



}

.row{
	width: 100%
}
/*Large Devices target*/
@media (min-width: 992px){
	.col-lg-1,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,
	.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-10,.col-lg-11,.col-lg-12{
		/*float:left;*/
		border:1px solid green;
	}
	.col-lg-1{
		width:8.33%;
		}
		.col-lg-2{
			width: 16.66%
			}
			.col-lg-3{
				width: 25%
				}
				.col-lg-4{
					width: 33%
					}
					.col-lg-5{
						width: 41.66%
						}
						.col-lg-6{
							width: 50%
						}
	.col-lg-7{
		width: 58.33%
		}
		.col-lg-8{width: 66.66% 

			}

			.col-lg-9{
				width: 74.99%
				
			}
			.col-lg-10{width: 83.33%}
			.col-lg-11{
				width: 91.66%
				}.col-lg-1{
					width: 100%
				}
	#box1{
		width: 33%
	}
	#box2{
		width:33%%;

	}
	#box3{
		width: 33%;
	}
}
/*Medium Devices target*/
@media(min-width: 768px) and (max-width: 991px){.col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,
	.col-md-7,.col-md-8,.col-md-9,.col-md-10,.col-md-11,.col-md-12{
		/*float:left;*/
		border:1px solid green;
	}
	.col-md-1{
		width:8.33%;
		}
		.col-md-2{
			width: 16.66%
			}
			.col-md-3{
				width: 25%
				}
				.col-md-4{
					width: 33%
					}
					.col-md-5{
						width: 41.66%
						}
						.col-md-6{
							width: 50%
						}
	.col-md-7{
		width: 58.33%
		}
		.col-md-8{width: 66.66% 

			}

			.col-md-9{
				width: 74.99%
				
			}
			.col-md-10{width: 83.33%}
			.col-md-11{
				width: 91.66%
				}.col-md-1{
					width: 100%
				}
	#box1{
		width: 90%;
	}
	#box2{
		width: 90%;
	}
	#box3{
		width: 90%
	}
	#box1{
		width: 48%;
	}
	#box2{
		width: 48%;
	}
	#box3{
		width: 96%;

	}
}

/*Small Devices target*/
@media(max-width:767px){
	.col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,
	.col-md-7,.col-md-8,.col-md-9,.col-md-10,.col-md-11,.col-md-12{
		/*float:left;*/
		border:1px solid green;
	}
	.col-md-1{
		width:8.33%;
		}
		.col-md-2{
			width: 16.66%
			}
			.col-md-3{
				width: 25%
				}
				.col-md-4{
					width: 33%
					}
					.col-md-5{
						width: 41.66%
						}
						.col-md-6{
							width: 50%
						}
	.col-md-7{
		width: 58.33%
		}
		.col-md-8{width: 66.66% 

			}

			.col-md-9{
				width: 74.99%
				
			}
			.col-md-10{width: 83.33%}
			.col-md-11{
				width: 91.66%
				}.col-md-1{
					width: 100%
				}
	#box1{
		width: 90%;
	}
	#box2{
		width: 90%;
	}
	#box3{
		width: 90%
	}

}