body{
  background-color: maroon;
  font-size: 16px;
  color: #fff;
  font-family: 'Oxygen', sans-serif;
}

.container{
  background-color: black;
  padding-left:0;
  padding-right:0;
  margin-right: 0;
  margin-left: 0;
  text-align: left;


  
}
#navbar{
  background-color: yellow;
  height: auto;
  clear: both;
  font-size: 16px;
  font-weight: bold;


}
.dropdown-menu{
  visible-xs;
  visible-sm;
  hidden-lg;
  hidden-md;
}

